<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="xScheduleFrame">
		<title>xSchedule</title>
		<icon>C:\xlights\include\xlights.ico</icon>
		<size>612,327</size>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<rows>1</rows>
			<growablecols>0</growablecols>
			<growablerows>0</growablerows>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
					<style>wxNO_BORDER</style>
					<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
						<cols>1</cols>
						<rows>1</rows>
						<growablecols>0</growablecols>
						<growablerows>0</growablerows>
						<object class="sizeritem">
							<object class="wxNotebook" name="ID_NOTEBOOK1" variable="Notebook1" member="yes">
								<size>602,275</size>
								<object class="notebookpage">
									<object class="wxPanel" name="ID_PANEL_PLAYLIST" variable="PanelPlayList" member="yes">
										<pos>89,157</pos>
										<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
											<cols>1</cols>
											<rows>2</rows>
											<growablecols>0</growablecols>
											<growablerows>1</growablerows>
											<object class="sizeritem">
												<object class="wxBoxSizer" variable="BoxSizer1" member="no">
													<object class="sizeritem">
														<object class="wxChoice" name="ID_CHOICE_PLAYLIST" variable="ChoicePlayList" member="yes">
															<content>
																<item>Select play list...</item>
																<item>&lt;new&gt;</item>
															</content>
															<selection>0</selection>
															<handler function="OnChoicePlayListSelect" entry="EVT_CHOICE" />
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxButton" name="ID_BUTTON_SAVE" variable="ButtonSave" member="yes">
															<label>Save</label>
															<handler function="OnButtonSaveClick" entry="EVT_BUTTON" />
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxGridSizer" variable="GridSizer1" member="no">
													<cols>2</cols>
													<rows>2</rows>
													<object class="sizeritem">
														<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
															<cols>1</cols>
															<rows>3</rows>
															<growablecols>0</growablecols>
															<growablerows>2</growablerows>
															<object class="sizeritem">
																<object class="wxFlexGridSizer" variable="FlexGridSizer5" member="no">
																	<cols>4</cols>
																	<growablecols>0</growablecols>
																	<object class="sizeritem">
																		<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
																			<label>Play List</label>
																			<font>
																				<size>10</size>
																				<weight>bold</weight>
																			</font>
																		</object>
																		<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																	<object class="sizeritem">
																		<object class="wxButton" name="ID_BUTTON_UP" variable="ButtonUp" member="yes">
																			<label>Move Up</label>
																			<handler function="OnButtonUpClick" entry="EVT_BUTTON" />
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																	<object class="sizeritem">
																		<object class="wxButton" name="ID_BUTTON_DOWN" variable="ButtonDown" member="yes">
																			<label>Move Down</label>
																			<handler function="OnButtonDownClick" entry="EVT_BUTTON" />
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																	<object class="sizeritem">
																		<object class="wxButton" name="ID_BUTTON_PLAY" variable="ButtonPlay" member="yes">
																			<label>&gt;</label>
																			<size>29,23</size>
																			<tooltip>Play</tooltip>
																			<help>Plays the currently selected item in the play list</help>
																			<handler function="OnButtonPlayClick" entry="EVT_BUTTON" />
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																</object>
																<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>5</border>
																<option>1</option>
															</object>
															<object class="sizeritem">
																<object class="wxBoxSizer" variable="BoxSizer4" member="no">
																	<object class="sizeritem">
																		<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
																			<label>Files:</label>
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																	<object class="sizeritem">
																		<object class="wxCheckBox" name="ID_CHECKBOX_AUDIO" variable="CheckBoxAudio" member="yes">
																			<label>Audio</label>
																			<handler function="OnCheckBoxAudioClick" entry="EVT_CHECKBOX" />
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																	<object class="sizeritem">
																		<object class="wxCheckBox" name="ID_CHECKBOX_VIDEO" variable="CheckBoxVideo" member="yes">
																			<label>Video</label>
																			<handler function="OnCheckBoxVideoClick" entry="EVT_CHECKBOX" />
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																	<object class="sizeritem">
																		<object class="wxCheckBox" name="ID_CHECKBOX_LOR" variable="CheckBoxLOR" member="yes">
																			<label>LOR</label>
																			<handler function="OnCheckBoxLORClick" entry="EVT_CHECKBOX" />
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																	<object class="sizeritem">
																		<object class="wxCheckBox" name="ID_CHECKBOX_VIXEN" variable="CheckBoxVixen" member="yes">
																			<label>Vixen</label>
																			<handler function="OnCheckBoxVixenClick" entry="EVT_CHECKBOX" />
																		</object>
																		<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																</object>
																<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>5</border>
																<option>1</option>
															</object>
															<object class="sizeritem">
																<object class="wxCheckListBox" name="ID_CHECKLISTBOX_PLAY" variable="CheckListBoxPlay" member="yes" />
																<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>5</border>
																<option>1</option>
															</object>
														</object>
														<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxFlexGridSizer" variable="FlexGridSizer6" member="no">
															<cols>1</cols>
															<rows>3</rows>
															<growablecols>0</growablecols>
															<growablerows>1</growablerows>
															<object class="sizeritem">
																<object class="wxFlexGridSizer" variable="FlexGridSizer7" member="no">
																	<cols>2</cols>
																	<growablecols>1</growablecols>
																	<object class="sizeritem">
																		<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
																			<label>Player Logic</label>
																			<font>
																				<size>10</size>
																				<weight>bold</weight>
																			</font>
																		</object>
																		<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																	<object class="sizeritem">
																		<object class="wxChoice" name="ID_CHOICE_LOGIC" variable="ChoiceLogic" member="yes" />
																		<flag>wxALL|wxEXPAND|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																</object>
																<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>5</border>
																<option>1</option>
															</object>
															<object class="sizeritem">
																<object class="wxTextCtrl" name="ID_TEXTCTRL_LOGIC" variable="TextCtrlLogic" member="yes" />
																<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>5</border>
																<option>1</option>
															</object>
														</object>
														<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
									</object>
									<label>Play List</label>
								</object>
								<object class="notebookpage">
									<object class="wxPanel" name="ID_PANEL_CAL" variable="PanelCal" member="yes">
										<pos>49,10</pos>
										<object class="wxFlexGridSizer" variable="FlexGridSizer8" member="no">
											<cols>1</cols>
											<rows>2</rows>
											<growablecols>0</growablecols>
											<growablerows>1</growablerows>
											<object class="sizeritem">
												<object class="wxBoxSizer" variable="BoxSizer2" member="no">
													<object class="sizeritem">
														<object class="wxChoice" name="ID_CHOICE1" variable="Choice1" member="yes">
															<size>113,21</size>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxFlexGridSizer" variable="FlexGridSizer9" member="no">
															<cols>3</cols>
															<object class="sizeritem">
																<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
																	<label>Start</label>
																</object>
																<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>5</border>
																<option>1</option>
															</object>
															<object class="sizeritem">
																<object class="wxChoice" name="ID_CHOICE2" variable="Choice2" member="yes">
																	<size>64,21</size>
																</object>
																<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>5</border>
																<option>1</option>
															</object>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxFlexGridSizer" variable="FlexGridSizer10" member="no">
															<cols>3</cols>
															<object class="sizeritem">
																<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="yes">
																	<label>End</label>
																</object>
																<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>5</border>
																<option>1</option>
															</object>
															<object class="sizeritem">
																<object class="wxChoice" name="ID_CHOICE3" variable="Choice3" member="yes">
																	<size>59,21</size>
																</object>
																<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>5</border>
																<option>1</option>
															</object>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxFlexGridSizer" variable="FlexGridSizer11" member="no">
															<cols>3</cols>
															<object class="sizeritem">
																<object class="wxToggleButton" name="ID_TOGGLEBUTTON5" variable="ToggleButton5" member="yes">
																	<label>Set</label>
																	<size>53,23</size>
																</object>
																<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>5</border>
																<option>1</option>
															</object>
															<object class="sizeritem">
																<object class="wxToggleButton" name="ID_TOGGLEBUTTON6" variable="ToggleButton6" member="yes">
																	<label>Delete</label>
																	<size>59,23</size>
																</object>
																<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>5</border>
																<option>1</option>
															</object>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxBoxSizer" variable="BoxSizer3" member="no">
													<object class="sizeritem">
														<object class="wxGrid" name="ID_GRID1" variable="Grid1" member="yes">
															<cols>7</cols>
															<rows>26</rows>
															<defaultrowsize>40</defaultrowsize>
															<collabels>
																<item>Sun</item>
																<item>Mon</item>
																<item>Tue</item>
																<item>Wed</item>
																<item>Thu</item>
																<item>Fri</item>
																<item>Sat</item>
															</collabels>
															<size>374,178</size>
														</object>
														<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
									</object>
									<label>Calendar</label>
								</object>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
				</object>
				<flag>wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
		<object class="wxMenuBar" variable="MenuBar1" member="no">
			<object class="wxMenu" variable="Menu1" member="no">
				<label>&amp;File</label>
				<object class="wxMenuItem" name="idMenuQuit" variable="MenuItem1" member="no">
					<label>Quit</label>
					<accel>Alt-F4</accel>
					<help>Quit the application</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu2" member="no">
				<label>Help</label>
				<object class="wxMenuItem" name="idMenuAbout" variable="MenuItem2" member="no">
					<label>About</label>
					<accel>F1</accel>
					<help>Show info about this application</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR1" variable="StatusBar1" member="yes">
			<fields>1</fields>
			<widths>-1</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
	</object>
</wxsmith>
