<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="TestDialog">
		<title>xTester</title>
		<centered>1</centered>
		<id_arg>0</id_arg>
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL4" variable="Panel3" member="yes">
					<style>wxFULL_REPAINT_ON_RESIZE</style>
					<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
						<cols>2</cols>
						<rows>2</rows>
						<growablecols>0,1</growablecols>
						<growablerows>1</growablerows>
						<object class="sizeritem">
							<object class="wxFlexGridSizer" variable="FlexGridSizer7" member="no">
								<cols>1</cols>
								<rows>2</rows>
								<growablecols>0</growablecols>
								<growablerows>0</growablerows>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
										<cols>4</cols>
										<rows>1</rows>
										<object class="sizeritem">
											<object class="wxButton" name="ID_BUTTON_SELECT_ALL" variable="ButtonSelectAll" member="yes">
												<label>Select All</label>
												<handler function="OnButtonSelectAllClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxButton" name="ID_BUTTON_CLEAR_ALL" variable="ButtonClear" member="yes">
												<label>Clear All</label>
												<handler function="OnButtonClearClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxButton" name="ID_BUTTON_LOAD" variable="ButtonLoad" member="yes">
												<label>Load</label>
												<enabled>0</enabled>
												<handler function="OnButtonLoadClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxButton" name="ID_BUTTON_SAVE" variable="ButtonSave" member="yes">
												<label>Save</label>
												<enabled>0</enabled>
												<handler function="OnButtonSaveClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
										<label>Use Shift-click, Ctrl-click, or click &amp;&amp; drag to select multiple channels</label>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxFlexGridSizer" variable="FlexGridSizer17" member="no">
								<cols>3</cols>
								<rows>1</rows>
								<growablecols>0</growablecols>
								<object class="sizeritem">
									<object class="wxButton" name="ID_BUTTON_LIGHTS_OFF" variable="ButtonLightsOff" member="yes">
										<label>All Lights Off</label>
										<handler function="OnButtonLightsOffClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
								</object>
								<object class="sizeritem">
									<object class="wxButton" name="ID_BUTTON_CLOSE" variable="ButtonClose" member="yes">
										<label>Close</label>
										<handler function="OnButtonCloseClick" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_RIGHT|wxALIGN_TOP</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxNotebook" name="ID_NOTEBOOK2" variable="Notebook2" member="yes">
								<size>225,220</size>
								<handler function="OnNotebook2PageChanged" entry="EVT_NOTEBOOK_PAGE_CHANGED" />
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxNotebook" name="ID_NOTEBOOK1" variable="Notebook1" member="yes">
								<object class="notebookpage">
									<object class="wxPanel" name="ID_PANEL_STANDARD" variable="PanelStandard" member="yes">
										<pos>29,39</pos>
										<size>211,136</size>
										<object class="wxFlexGridSizer" variable="FlexGridSizer9" member="no">
											<cols>3</cols>
											<growablerows>0</growablerows>
											<object class="sizeritem">
												<object class="wxFlexGridSizer" variable="FlexGridSizer10" member="no">
													<cols>1</cols>
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT8" variable="StaticText8" member="yes">
															<label>Select function:</label>
															<font>
																<size>10</size>
																<style>normal</style>
																<weight>bold</weight>
																<underlined>0</underlined>
																<family>swiss</family>
															</font>
														</object>
														<flag>wxTOP|wxLEFT|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxRadioButton" name="ID_RADIOBUTTON14" variable="RadioButtonOff" member="yes">
															<label>Off</label>
															<style>wxRB_GROUP</style>
															<handler function="OnRadioButtonOffSelect" entry="EVT_RADIOBUTTON" />
														</object>
														<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxRadioButton" name="ID_RADIOBUTTON15" variable="RadioButtonChase" member="yes">
															<label>Chase</label>
															<handler function="OnRadioButtonChaseSelect" entry="EVT_RADIOBUTTON" />
														</object>
														<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxRadioButton" name="ID_RADIOBUTTON16" variable="RadioButtonChase3" member="yes">
															<label>Chase 1/3</label>
															<handler function="OnRadioButtonChase3Select" entry="EVT_RADIOBUTTON" />
														</object>
														<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxRadioButton" name="ID_RADIOBUTTON17" variable="RadioButtonChase4" member="yes">
															<label>Chase 1/4</label>
															<handler function="OnRadioButtonChase4Select" entry="EVT_RADIOBUTTON" />
														</object>
														<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxRadioButton" name="ID_RADIOBUTTON19" variable="RadioButtonChase5" member="yes">
															<label>Chase 1/5</label>
															<handler function="OnRadioButtonChase5Select" entry="EVT_RADIOBUTTON" />
														</object>
														<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxRadioButton" name="ID_RADIOBUTTON18" variable="RadioButtonAlt" member="yes">
															<label>Alternate</label>
															<handler function="OnRadioButtonAltSelect" entry="EVT_RADIOBUTTON" />
														</object>
														<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxRadioButton" name="ID_RADIOBUTTON7" variable="RadioButtonTwinkle05" member="yes">
															<label>Twinkle 5%</label>
															<handler function="OnRadioButtonTwinkle05Select" entry="EVT_RADIOBUTTON" />
														</object>
														<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxRadioButton" name="ID_RADIOBUTTON31" variable="RadioButtonTwinkle10" member="yes">
															<label>Twinkle 10%</label>
															<handler function="OnRadioButtonTwinkle10Select" entry="EVT_RADIOBUTTON" />
														</object>
														<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxRadioButton" name="ID_RADIOBUTTON30" variable="RadioButtonTwinkle25" member="yes">
															<label>Twinkle 25%</label>
															<handler function="OnRadioButtonTwinkle25Select" entry="EVT_RADIOBUTTON" />
														</object>
														<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxRadioButton" name="ID_RADIOBUTTON29" variable="RadioButtonTwinkle50" member="yes">
															<label>Twinkle 50%</label>
															<handler function="OnRadioButtonTwinkle50Select" entry="EVT_RADIOBUTTON" />
														</object>
														<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxRadioButton" name="ID_RADIOBUTTON8" variable="RadioButtonShimmer" member="yes">
															<label>Shimmer</label>
															<handler function="OnRadioButtonShimmerSelect" entry="EVT_RADIOBUTTON" />
														</object>
														<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxRadioButton" name="ID_RADIOBUTTON6" variable="RadioButtonDim" member="yes">
															<label>Background Only</label>
															<handler function="OnRadioButtonDimSelect" entry="EVT_RADIOBUTTON" />
														</object>
														<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="spacer">
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxBoxSizer" variable="BoxSizer3" member="no">
													<object class="sizeritem">
														<object class="wxFlexGridSizer" variable="FlexGridSizer20" member="no">
															<cols>1</cols>
															<growablecols>0</growablecols>
															<growablerows>1</growablerows>
															<object class="sizeritem">
																<object class="wxStaticText" name="ID_STATICTEXT9" variable="StaticText9" member="yes">
																	<label>Background&#x0A;Intensity</label>
																	<font>
																		<size>10</size>
																		<style>normal</style>
																		<weight>bold</weight>
																		<underlined>0</underlined>
																		<family>swiss</family>
																	</font>
																</object>
																<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>5</border>
																<option>1</option>
															</object>
															<object class="sizeritem">
																<object class="wxSlider" name="ID_SLIDER4" variable="SliderBgIntensity" member="yes">
																	<max>255</max>
																	<style>wxSL_VERTICAL|wxSL_LABELS|wxSL_INVERSE|wxSIMPLE_BORDER</style>
																</object>
																<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>10</border>
															</object>
														</object>
														<flag>wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxFlexGridSizer" variable="FlexGridSizer21" member="no">
															<cols>1</cols>
															<growablecols>0</growablecols>
															<growablerows>1</growablerows>
															<object class="sizeritem">
																<object class="wxStaticText" name="ID_STATICTEXT10" variable="StaticText10" member="yes">
																	<label>Highlight&#x0A;Intensity</label>
																	<font>
																		<size>10</size>
																		<style>normal</style>
																		<weight>bold</weight>
																		<underlined>0</underlined>
																		<family>swiss</family>
																	</font>
																</object>
																<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>5</border>
																<option>1</option>
															</object>
															<object class="sizeritem">
																<object class="wxSlider" name="ID_SLIDER5" variable="SliderFgIntensity" member="yes">
																	<value>255</value>
																	<max>255</max>
																	<style>wxSL_VERTICAL|wxSL_LABELS|wxSL_INVERSE|wxSIMPLE_BORDER</style>
																</object>
																<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>10</border>
																<option>1</option>
															</object>
														</object>
														<flag>wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxFlexGridSizer" variable="FlexGridSizer22" member="no">
															<cols>1</cols>
															<growablecols>0</growablecols>
															<growablerows>1</growablerows>
															<object class="sizeritem">
																<object class="wxStaticText" name="ID_STATICTEXT11" variable="StaticText11" member="yes">
																	<label>Speed&#x0A;</label>
																	<font>
																		<size>10</size>
																		<style>normal</style>
																		<weight>bold</weight>
																		<underlined>0</underlined>
																		<family>swiss</family>
																	</font>
																</object>
																<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>5</border>
																<option>1</option>
															</object>
															<object class="sizeritem">
																<object class="wxSlider" name="ID_SLIDER6" variable="SliderChaseSpeed" member="yes">
																	<value>50</value>
																	<style>wxSL_VERTICAL|wxSL_LABELS|wxSL_INVERSE|wxSIMPLE_BORDER</style>
																</object>
																<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>10</border>
																<option>1</option>
															</object>
														</object>
														<flag>wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_BOTTOM|wxALIGN_CENTER_HORIZONTAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
									</object>
									<label>Standard</label>
								</object>
								<object class="notebookpage">
									<object class="wxPanel" name="ID_PANEL_RGB" variable="Panel_RGB" member="yes">
										<pos>29,39</pos>
										<size>211,136</size>
										<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
											<cols>6</cols>
											<growablerows>0</growablerows>
											<object class="sizeritem">
												<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
													<cols>1</cols>
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT29" variable="StaticText29" member="yes">
															<label>Select function:</label>
															<font>
																<size>10</size>
																<style>normal</style>
																<weight>bold</weight>
																<underlined>0</underlined>
																<family>swiss</family>
															</font>
														</object>
														<flag>wxTOP|wxLEFT|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxRadioButton" name="ID_RADIOBUTTON1" variable="RadioButtonRgbChaseOff" member="yes">
															<label>Off</label>
															<style>wxRB_GROUP</style>
															<handler function="OnRadioButtonOffSelect" entry="EVT_RADIOBUTTON" />
														</object>
														<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxRadioButton" name="ID_RADIOBUTTON2" variable="RadioButtonRgbChase" member="yes">
															<label>Chase</label>
															<handler function="OnRadioButtonChaseSelect" entry="EVT_RADIOBUTTON" />
														</object>
														<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxRadioButton" name="ID_RADIOBUTTON3" variable="RadioButtonRgbChase3" member="yes">
															<label>Chase 1/3</label>
															<handler function="OnRadioButtonChase3Select" entry="EVT_RADIOBUTTON" />
														</object>
														<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxRadioButton" name="ID_RADIOBUTTON4" variable="RadioButtonRgbChase4" member="yes">
															<label>Chase 1/4</label>
															<handler function="OnRadioButtonChase4Select" entry="EVT_RADIOBUTTON" />
														</object>
														<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxRadioButton" name="ID_RADIOBUTTON25" variable="RadioButtonRgbChase5" member="yes">
															<label>Chase 1/5</label>
															<handler function="OnRadioButtonChase5Select" entry="EVT_RADIOBUTTON" />
														</object>
														<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxRadioButton" name="ID_RADIOBUTTON5" variable="RadioButtonRgbAlt" member="yes">
															<label>Alternate</label>
															<handler function="OnRadioButtonAltSelect" entry="EVT_RADIOBUTTON" />
														</object>
														<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxRadioButton" name="ID_RADIOBUTTON12" variable="RadioButtonRgbTwinkle05" member="yes">
															<label>Twinkle 5%</label>
															<handler function="OnRadioButtonTwinkle05Select" entry="EVT_RADIOBUTTON" />
														</object>
														<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxRadioButton" name="ID_RADIOBUTTON28" variable="RadioButtonRgbTwinkle10" member="yes">
															<label>Twinkle 10%</label>
															<handler function="OnRadioButtonTwinkle10Select" entry="EVT_RADIOBUTTON" />
														</object>
														<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxRadioButton" name="ID_RADIOBUTTON10" variable="RadioButtonRgbTwinkle25" member="yes">
															<label>Twinkle 25%</label>
															<handler function="OnRadioButtonTwinkle25Select" entry="EVT_RADIOBUTTON" />
														</object>
														<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxRadioButton" name="ID_RADIOBUTTON9" variable="RadioButtonRgbTwinkle50" member="yes">
															<label>Twinkle 50%</label>
															<handler function="OnRadioButtonTwinkle50Select" entry="EVT_RADIOBUTTON" />
														</object>
														<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxRadioButton" name="ID_RADIOBUTTON13" variable="RadioButtonRgbShimmer" member="yes">
															<label>Shimmer</label>
															<handler function="OnRadioButtonShimmerSelect" entry="EVT_RADIOBUTTON" />
														</object>
														<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxRadioButton" name="ID_RADIOBUTTON11" variable="RadioButtonRgbDim" member="yes">
															<label>Background Only</label>
															<handler function="OnRadioButtonDimSelect" entry="EVT_RADIOBUTTON" />
														</object>
														<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="spacer">
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxBoxSizer" variable="BoxSizer10" member="no">
													<orient>wxVERTICAL</orient>
													<object class="sizeritem">
														<object class="wxStaticBoxSizer" variable="StaticBoxSizerBackgroundColor" member="no">
															<label>Background Color</label>
															<object class="sizeritem">
																<object class="wxSlider" name="ID_SLIDER12" variable="SliderBgColorA" member="yes">
																	<max>255</max>
																	<style>wxSL_VERTICAL|wxSL_LABELS|wxSL_INVERSE|wxSIMPLE_BORDER</style>
																</object>
																<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>10</border>
																<option>1</option>
															</object>
															<object class="sizeritem">
																<object class="wxSlider" name="ID_SLIDER11" variable="SliderBgColorB" member="yes">
																	<max>255</max>
																	<style>wxSL_VERTICAL|wxSL_LABELS|wxSL_INVERSE|wxSIMPLE_BORDER</style>
																</object>
																<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>10</border>
																<option>1</option>
															</object>
															<object class="sizeritem">
																<object class="wxSlider" name="ID_SLIDER1" variable="SliderBgColorC" member="yes">
																	<max>255</max>
																	<style>wxSL_VERTICAL|wxSL_LABELS|wxSL_INVERSE|wxSIMPLE_BORDER</style>
																</object>
																<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>10</border>
															</object>
														</object>
														<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>3</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxStaticBoxSizer" variable="StaticBoxSizerHighlightColor" member="no">
															<label>Highlight Color</label>
															<object class="sizeritem">
																<object class="wxSlider" name="ID_SLIDER14" variable="SliderFgColorA" member="yes">
																	<value>255</value>
																	<max>255</max>
																	<style>wxSL_VERTICAL|wxSL_LABELS|wxSL_INVERSE|wxSIMPLE_BORDER</style>
																</object>
																<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>10</border>
																<option>1</option>
															</object>
															<object class="sizeritem">
																<object class="wxSlider" name="ID_SLIDER13" variable="SliderFgColorB" member="yes">
																	<value>255</value>
																	<max>255</max>
																	<style>wxSL_VERTICAL|wxSL_LABELS|wxSL_INVERSE|wxSIMPLE_BORDER</style>
																</object>
																<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>10</border>
																<option>1</option>
															</object>
															<object class="sizeritem">
																<object class="wxSlider" name="ID_SLIDER9" variable="SliderFgColorC" member="yes">
																	<value>255</value>
																	<max>255</max>
																	<style>wxSL_VERTICAL|wxSL_LABELS|wxSL_INVERSE|wxSIMPLE_BORDER</style>
																</object>
																<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>10</border>
																<option>1</option>
															</object>
														</object>
														<flag>wxTOP|wxLEFT|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>3</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="spacer">
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxFlexGridSizer" variable="FlexGridSizer14" member="no">
													<cols>1</cols>
													<growablecols>0</growablecols>
													<growablerows>1</growablerows>
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
															<label>Speed</label>
															<font>
																<size>10</size>
																<style>normal</style>
																<weight>bold</weight>
																<underlined>0</underlined>
																<family>swiss</family>
															</font>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxSlider" name="ID_SLIDER2" variable="SliderRgbChaseSpeed" member="yes">
															<value>50</value>
															<style>wxSL_VERTICAL|wxSL_LABELS|wxSL_INVERSE|wxSIMPLE_BORDER</style>
														</object>
														<flag>wxTOP|wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_BOTTOM|wxALIGN_CENTER_HORIZONTAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="spacer">
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
									</object>
									<label>RGB</label>
								</object>
								<object class="notebookpage">
									<object class="wxPanel" name="ID_PANEL_RGB_CYCLE" variable="Panel_RGB_Cycle" member="yes">
										<pos>71,15</pos>
										<size>392,209</size>
										<object class="wxFlexGridSizer" variable="FlexGridSizer11" member="no">
											<cols>3</cols>
											<growablerows>0</growablerows>
											<object class="sizeritem">
												<object class="wxFlexGridSizer" variable="FlexGridSizer15" member="no">
													<cols>1</cols>
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
															<label>Select function:</label>
															<font>
																<size>10</size>
																<style>normal</style>
																<weight>bold</weight>
																<underlined>0</underlined>
																<family>swiss</family>
															</font>
														</object>
														<flag>wxTOP|wxLEFT|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxRadioButton" name="ID_RADIOBUTTON20" variable="RadioButtonRgbCycleOff" member="yes">
															<label>Off</label>
															<style>wxRB_GROUP</style>
															<handler function="OnRadioButtonOffSelect" entry="EVT_RADIOBUTTON" />
														</object>
														<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxRadioButton" name="ID_RADIOBUTTON22" variable="RadioButtonRgbCycle3" member="yes">
															<label>A-B-C</label>
															<handler function="OnRadioButtonChase3Select" entry="EVT_RADIOBUTTON" />
														</object>
														<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxRadioButton" name="ID_RADIOBUTTON23" variable="RadioButtonRgbCycle4" member="yes">
															<label>A-B-C-All</label>
															<handler function="OnRadioButtonChase4Select" entry="EVT_RADIOBUTTON" />
														</object>
														<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxRadioButton" name="ID_RADIOBUTTON24" variable="RadioButtonRgbCycle5" member="yes">
															<label>A-B-C-All-None</label>
															<handler function="OnRadioButtonChase5Select" entry="EVT_RADIOBUTTON" />
														</object>
														<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxRadioButton" name="ID_RADIOBUTTON21" variable="RadioButtonRgbCycleMixed" member="yes">
															<label>Mixed Colors</label>
															<handler function="OnRadioButtonDimSelect" entry="EVT_RADIOBUTTON" />
														</object>
														<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="spacer">
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxFlexGridSizer" variable="FlexGridSizer24" member="no">
													<cols>1</cols>
													<growablerows>1</growablerows>
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT13" variable="StaticText13" member="yes">
															<label>Cycle Speed</label>
															<font>
																<size>10</size>
																<style>normal</style>
																<weight>bold</weight>
																<underlined>0</underlined>
																<family>swiss</family>
															</font>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxSlider" name="ID_SLIDER7" variable="SliderRgbCycleSpeed" member="yes">
															<value>50</value>
															<style>wxSL_VERTICAL|wxSL_LABELS|wxSL_INVERSE|wxSIMPLE_BORDER</style>
														</object>
														<flag>wxTOP|wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>10</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
									</object>
									<label>RGB Cycle</label>
								</object>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
				</object>
				<flag>wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
