<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="xScheduleFrame">
		<title>xScheduler</title>
		<size>635,311</size>
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<rows>2</rows>
			<growablecols>0</growablecols>
			<growablerows>0</growablerows>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
					<style>wxNO_BORDER</style>
					<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
						<cols>1</cols>
						<rows>2</rows>
						<growablecols>0</growablecols>
						<growablerows>1</growablerows>
						<object class="sizeritem">
							<object class="wxPanel" name="ID_PANEL2" variable="Panel2" member="yes">
								<style>wxRAISED_BORDER</style>
								<object class="wxAuiManager" variable="AuiManager1" member="yes">
									<object class="AuiManagerItem">
										<object class="wxAuiToolBar" name="ID_AUITOOLBAR1" variable="AuiToolBar1" member="yes">
											<pos>6,10</pos>
											<object class="AuiToolBarItem">
												<object class="wxAuiToolBarItem" name="ID_AUITOOLBARITEM_ADD" variable="AuiToolBarItemAdd" member="yes">
													<bitmap stock_id="xlights_add" stock_client="wxART_TOOLBAR" />
													<shorthelp>Add playlist</shorthelp>
													<handler function="OnAuiToolBarItemAddClick" entry="EVT_TOOL" />
												</object>
												<label>Add playlist</label>
											</object>
											<object class="AuiToolBarItem">
												<object class="wxAuiToolBarItem" name="ID_AUITOOLBARITEM_DEL" variable="AuiToolBarItemDel" member="yes">
													<bitmap stock_id="xlights_remove" stock_client="wxART_TOOLBAR" />
													<shorthelp>Delete playlist</shorthelp>
													<handler function="OnAuiToolBarItemDelClick" entry="EVT_TOOL" />
												</object>
												<label>Delete playlist</label>
											</object>
											<object class="AuiToolBarItem">
												<object class="wxAuiToolBarItem" name="ID_AUITOOLBARITEM_HELP" variable="AuiToolBarItemHelp" member="yes">
													<bitmap stock_id="xlights_help" stock_client="wxART_TOOLBAR" />
													<shorthelp>Help</shorthelp>
													<handler function="OnAuiToolBarItemHelpClick" entry="EVT_TOOL" />
												</object>
												<label>Help</label>
											</object>
											<object class="AuiToolBarItem">
												<object class="wxAuiToolBarItem" name="ID_AUITOOLBARITEM_SAVE" variable="AuiToolBarItemSave" member="yes">
													<bitmap stock_id="xlights_floppy_disc" stock_client="wxART_TOOLBAR" />
													<shorthelp>Save schedule</shorthelp>
													<handler function="OnAuiToolBarItemSaveClick" entry="EVT_TOOL" />
												</object>
												<label>Save</label>
											</object>
											<object class="AuiToolBarItem">
												<object class="wxAuiToolBarItem" name="ID_AUITOOLBARITEM_STOP" variable="AuiToolBarItemStop" member="yes">
													<bitmap stock_id="xlights_stop_sign" stock_client="wxART_TOOLBAR" />
													<shorthelp>Stop Playlist</shorthelp>
													<handler function="OnAuiToolBarItemStopClick" entry="EVT_TOOL" />
												</object>
												<label>Stop Playlist</label>
												<enabled>0</enabled>
											</object>
											<object class="AuiToolBarItem">
												<object class="wxAuiToolBarItem" name="ID_AUITOOLBARITEM_PLAY" variable="AuiToolBarItemPlay" member="yes">
													<bitmap stock_id="xlights_play" stock_client="wxART_TOOLBAR" />
													<shorthelp>Start Playlist</shorthelp>
													<dropdown>1</dropdown>
													<handler function="OnAuiToolBarItemPlayClick" entry="EVT_TOOL" />
												</object>
												<label>Start Playlist</label>
												<enabled>0</enabled>
											</object>
										</object>
										<name>PaneName</name>
										<standardpanetype>Toolbar</standardpanetype>
										<caption>Pane caption</caption>
										<captionvisible>0</captionvisible>
										<minimizebutton>0</minimizebutton>
										<maximizebutton>0</maximizebutton>
										<pinbutton>0</pinbutton>
										<layer>10</layer>
										<dockfixed>0</dockfixed>
										<dockabledirection></dockabledirection>
										<resizable>0</resizable>
										<gripper>Default</gripper>
										<destroyonclose>0</destroyonclose>
										<firstadd>0</firstadd>
									</object>
								</object>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxNotebook" name="ID_NOTEBOOK1" variable="Notebook1" member="yes">
								<size>799,312</size>
								<handler function="OnNotebook1PageChanged" entry="EVT_NOTEBOOK_PAGE_CHANGED" />
								<object class="notebookpage">
									<object class="wxPanel" name="ID_PANEL_CAL" variable="PanelCal" member="yes">
										<pos>49,10</pos>
										<object class="wxFlexGridSizer" variable="FlexGridSizer8" member="no">
											<cols>2</cols>
											<rows>1</rows>
											<growablecols>0</growablecols>
											<growablerows>0</growablerows>
											<object class="sizeritem">
												<object class="wxListBox" name="ID_LISTBOX_SCHED" variable="ListBoxSched" member="yes">
													<default>-1</default>
													<style>wxLB_MULTIPLE</style>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
													<cols>1</cols>
													<object class="sizeritem">
														<object class="wxBoxSizer" variable="BoxSizer3" member="no">
															<orient>wxVERTICAL</orient>
															<object class="sizeritem">
																<object class="wxBitmapButton" name="ID_BITMAPBUTTON_SCHED_INFO" variable="BitmapButtonSchedInfo" member="yes">
																	<bitmap stock_id="wxART_INFORMATION" stock_client="wxART_BUTTON" />
																	<tooltip>Tips for using scheduler</tooltip>
																	<style>wxBU_AUTODRAW|wxRAISED_BORDER</style>
																	<handler function="OnBitmapButtonSchedInfoClick" entry="EVT_BUTTON" />
																</object>
																<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>5</border>
																<option>1</option>
															</object>
															<object class="sizeritem">
																<object class="wxCheckBox" name="ID_CHECKBOX_RUN_SCHEDULE" variable="CheckBoxRunSchedule" member="yes">
																	<label>Run Schedule</label>
																	<font>
																		<size>10</size>
																		<style>normal</style>
																		<weight>bold</weight>
																		<underlined>0</underlined>
																		<family>swiss</family>
																	</font>
																	<handler function="OnCheckBoxRunScheduleClick" entry="EVT_CHECKBOX" />
																</object>
																<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
																<border>5</border>
																<option>1</option>
															</object>
															<object class="sizeritem">
																<object class="wxButton" name="ID_BUTTON_ADD_SHOW" variable="ButtonAddShow" member="yes">
																	<label>Schedule Playlist</label>
																	<handler function="OnButtonAddShowClick" entry="EVT_BUTTON" />
																</object>
																<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
																<border>5</border>
																<option>1</option>
															</object>
															<object class="sizeritem">
																<object class="wxButton" name="ID_BUTTON2" variable="ButtonUpdateShow" member="yes">
																	<label>Update Selected Item</label>
																	<handler function="OnButtonUpdateShowClick" entry="EVT_BUTTON" />
																</object>
																<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
																<border>5</border>
																<option>1</option>
															</object>
															<object class="sizeritem">
																<object class="wxButton" name="ID_BUTTON_DELETE_SHOW" variable="ButtonDeleteShow" member="yes">
																	<label>Delete Selected Items</label>
																	<handler function="OnButtonDeleteShowClick" entry="EVT_BUTTON" />
																</object>
																<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
																<border>5</border>
																<option>1</option>
															</object>
															<object class="sizeritem">
																<object class="wxButton" name="ID_BUTTON_DESELECT" variable="ButtonDeselect" member="yes">
																	<label>Deselect All</label>
																	<handler function="OnButtonDeselectClick" entry="EVT_BUTTON" />
																</object>
																<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
																<border>5</border>
																<option>1</option>
															</object>
														</object>
														<flag>wxALL|wxALIGN_TOP|wxALIGN_CENTER_HORIZONTAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxALIGN_TOP|wxALIGN_CENTER_HORIZONTAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
									</object>
									<label>Schedule</label>
								</object>
								<object class="notebookpage">
									<object class="wxPanel" name="ID_PANEL_LOG" variable="PanelLog" member="yes">
										<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
											<cols>1</cols>
											<growablecols>0</growablecols>
											<growablerows>1</growablerows>
											<object class="sizeritem">
												<object class="wxFlexGridSizer" variable="FlexGridSizer5" member="no">
													<cols>3</cols>
													<object class="sizeritem">
														<object class="wxButton" name="ID_BUTTON_CLEARLOG" variable="ButtonClearLog" member="yes">
															<label>Clear</label>
															<handler function="OnButtonClearLogClick" entry="EVT_BUTTON" />
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxButton" name="ID_BUTTON_SAVELOG" variable="ButtonSaveLog" member="yes">
															<label>Save</label>
															<handler function="OnButtonSaveLogClick" entry="EVT_BUTTON" />
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
															<label>While the scheduler is running, each item that is played is logged here</label>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxTextCtrl" name="ID_TEXTCTRL_LOG" variable="TextCtrlLog" member="yes">
													<style>wxTE_MULTILINE|wxHSCROLL</style>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
									</object>
									<label>Log</label>
								</object>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
				</object>
				<flag>wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
		<object class="wxMenuBar" variable="MenuBar1" member="no">
			<object class="wxMenu" variable="MenuFile" member="no">
				<label>&amp;File</label>
				<object class="wxMenuItem" name="idMenuSave" variable="MenuItem3" member="no">
					<label>Save</label>
					<accel>Ctrl-S</accel>
					<handler function="OnAuiToolBarItemSaveClick" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuQuit" variable="MenuItem1" member="no">
					<label>Quit</label>
					<accel>Alt-F4</accel>
					<help>Quit the application</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="MenuPlaylist" member="no">
				<label>&amp;Playlist</label>
				<object class="wxMenuItem" name="idMenuAddList" variable="MenuItemAddList" member="no">
					<label>Add</label>
					<handler function="OnAuiToolBarItemAddClick" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuRenameList" variable="MenuItemRenameList" member="no">
					<label>Rename</label>
					<handler function="OnMenuItemRenameListSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuDelList" variable="MenuItemDelList" member="no">
					<label>Delete</label>
					<handler function="OnAuiToolBarItemDelClick" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM1" variable="MenuItemRefresh" member="yes">
					<label>Refresh</label>
					<handler function="OnMenuItemRefreshSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idCustomScript" variable="MenuItemCustomScript" member="no">
					<label>Custom Script</label>
					<handler function="OnMenuItemCustomScriptSelected" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="MenuHelp" member="no">
				<label>&amp;Help</label>
				<object class="wxMenuItem" name="idMenuHelpContent" variable="MenuItem4" member="no">
					<label>Content</label>
					<accel>F1</accel>
					<handler function="OnAuiToolBarItemHelpClick" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuAbout" variable="MenuItem2" member="no">
					<label>About</label>
					<help>Show info about this application</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR1" variable="StatusBar1" member="yes">
			<fields>2</fields>
			<widths>-1,-1</widths>
			<styles>wxSB_NORMAL,wxSB_NORMAL</styles>
		</object>
	</object>
</wxsmith>
